body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090088;
    font-family: fantasy;
}

h1{
    font-size: 50px;
    color: #FFBD39;
    transition: color 2s;
    transition: font-size 2s;
    transition: transform 2s;
}
h1:hover{
    color: #E4007C;
    font-size: 100px;
    transform: rotate(360deg);
}

nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #930077;
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:white;
}

img{
    width:45vw;
    height: 45vh;
    animation: 3s infinite alternate imageTings;
    margin-top: 30px;
}

@keyframes imageTings {
    from{
        filter: drop-shadow(30px 30px 30px #FFBD39);
    }
    to {
        filter: drop-shadow(30px 30px 30px #E4007C);
    }
}

#red-ball{
    background-color: #E4007C;
    filter: drop-shadow(30px 30px 30px #FFBD39);
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: 3s infinite alternate moveDaBall;
}

@keyframes moveDaBall {
    from{
        margin-left: 100%;
        margin-top: 100%;
    }
    to{
        margin-right: 100%;
        margin-bottom: 100%;
        width: 200px;
        height: 200px;
        background-color: #930077;
        filter: drop-shadow(-30px -30px 30px #FFBD39)
    }
}